.idea
bin
obj
*.user

# Allow BenchmarkDotNet artifacts
#!BenchmarkDotNet.Artifacts
#!BenchmarkDotNet.Artifacts/*

**/Artifacts/*.log

# Containing personal stuff or local file paths
StringTesting
RegexTesting
Categorization

